*{
  margin: 0px;
  padding: 0px;
}

h1 {
  font: bold 20px verdana, sans-serif;
}

h2{
  font: bold 16px verdana, sans-serif;
}

h3{
  font: bold 12px verdana, sans-serif;
}

header, section, footer, aside, nav, article{
   display:block;
}

body{
  text-align: center;
    background:#000;
    background-size: cover;
}

#agrupar{
  width: 960px;
  margin: 0px 10px 200px 195px;
  text-align: left;
}

#cabecera{
  background: #f2f1f1;
  border: 1px solid #999999;
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
   border-radius: 10px;
  -moz-box-shadow: rgb(150,150,150) 5px 5px 10px inset;
  -webkit-box-shadow: rgb(150,150,150) 5px 5px 10px inset;
   box-shadow: rgb(150,150,150) 5px 5px 10px inset;
   background: -webkit-linear-gradient(top, #FFFFFF, #006699);
   background: -moz-linear-gradient(top, #FFFFFF, #006699);
   text-shadow: rgba(0,0,0,0.5) 3px 3px 5px;

}

#menu{
  background: #CCCCCC:
  padding: 5px 15px;
  background: #FFFBB9;
  -moz-border-radius:  10px;
  -webkit-border-radius: 10px;
   border-radius: 10px;
   -moz-box-shadow: rgb(150,150,150) 5px 5px 10px inset;
   -webkit-box-shadow: rgb(150,150,150) 5px 5px 10px inset;
    box-shadow: rgb(150,150,150) 5px 5px 10px inset;
    background: -webkit-linear-gradient(top, #FFFFFF, #006699);
    background: -moz-linear-gradient(top, #FFFFFF, #006699);

}

#menu li{
  display: inline-block;
  list-style: none;
  padding: 5px;
  font: bold 14px verdana, sans-serif;
  position:relative;
}
#menu li>ul{
  display:none;
}
#menu li:hover>ul{
  background-color:#9400D3;
  color:#FFFAFA;
  display:block;
  position:absolute;
  top:30px;
  left:30px;
  width:300px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
   border-radius: 10px;
}
#menu li:hover{
  background-color:#F5FFFA;
  -moz-border-radius:  10px;
  -webkit-border-radius: 10px;
   border-radius: 10px;

}
#seccion{
  float: left;
  width: 700px;
  margin: 20px 5px 20px 5px;
}


#pie{
  clear: both;
  text-align: center;
  width:960px;
  margin:100px 1px 1px 1px;
  padding:10px;
  border-top: 2px solid #999999;
  background-color:#FFFBCC!important;
  text-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
  position:relative;
  top:150px;
}

#idea{
  background: #FFFBCC;
  border: 1px solid #999999;
  width:700px;
  margin:200px 1px 100px 1px;
  padding: 50px;
  margin-bottom: 15px;
}

#sugerencia{
 background: #FFFBCC;
 border: 0.5px solid #999999;
 padding: 50px;
 width:600px;
 margin:1px;
 margin-bottom: 10px;
}
.nonesubrayado{
    text-decoration: none;
    color: #000;
}
